@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.mat-app-background {
  background-color: white;
}

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}
